<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifeistech.android.twittertest">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/apicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="io.fabriv.Apikey"
            android:value="7618d56af89a0a7551d076d23114e59d09dd3313"/>

        <!-- https://developers.facebook.com/docs/sharing/android -->
        <provider
            android:authorities="com.facebook.app.FacebookContentProvider975500295839637"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"/>
        <activity
            android:name=".TwitterTL"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="oauth" android:host="twitter"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".TweetActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ShareActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7618d56af89a0a7551d076d23114e59d09dd3313" />
    </application>

</manifest>
